:root {
  --white: #fff;
  --background-main: #f6f6f6;
  --main-textcolor: #111111;
  --light-text: #b4afaf;
  --main-color: #4f2ee8;
  --accent-color: #eac645;
  --pagination-color-dark: #000000;
  --logo-main-color: #000000;
  //------------------------------------------
  //dark theme
  --background-main-darkTheme: #202024;
  --background-darkTheme: #111111;
  --logo-color-darkTheme: #f3f3f3;
}
