:root {
  --white: #fff;
  --background-main: #f6f6f6;
  --background-dark: #202024;
  --main-textcolor: #111111;
  --light-text: #b4afaf;
  --main-color: #4f2ee8;
  --accent-color: #eac645;
  --pagination-color-dark: #000000;
}
