<header class="header">
  <div class="header__logo">
    <img src="./images/logo.svg" alt="Logo">
    <img src="./images/bookshelf.svg" alt="Logo">
  </div>

  <div class="header__buttons">
    <div class="header__theme-switcher">
      <input type="checkbox" id="check1" class="toggle">
      <label for="check1"></label>
    </div>
    <button class="header__register-btn">
      <span>Sign up</span>
      <img src="./images/arrow-narrow-right.svg" alt="Arrow">
    </button>
    <!-- <button class="header__burger-btn">
      <svg width="12px" height="12px">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button> -->
  </div>
</header>