<section class="modal visually-hidden">
  <div class="modal__container" data-id="">
    <button class="modal__close">
      <svg class="modal-x-svg">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal__info">
      <img
        class="modal__image"
        src="https://storage.googleapis.com/du-prd/books/images/9781524798628.jpg"
        alt="jpg"
      />
      <div class="modal__content">
        <h3 class="modal__content-title"></h3>
        <p class="modal__content-author"></p>
        <p class="modal__content-description"></p>
        <div class="modal__content-links">
          <a class="modal__link-amazon" href="" target="_blank">
            <div class="modal__amazon-img"></div>
          </a>
          <a class="modal__link-apple" href="" target="_blank"
            ><img
              class="modal__link-img"
              srcset="./images/appleshop2x.png"
              src="./images/appleshop.png"
              alt="apple-books"
          /></a>
          <a class="modal__link-shop" href="" target="_blank"
            ><img
              class="modal__link-img"
              srcset="./images/boockshop2x.png"
              src="./images/boockshop.png"
              alt="book-shop"
          /></a>
        </div>
      </div>
    </div>
    <button class="modal__button">Add to shopping list</button>
    <p class="modal__user-info"></p>
  </div>
</section>
