.tui-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  & .first {
    margin-right: 5px;

    @include tablet {
      margin-right: 8px;
    }
  }

  & .last {
    margin-left: 5px;

    @include tablet {
      margin-left: 8px;
    }
  }

  & .prev {
    margin-right: 14px;

    @include tablet {
      margin-right: 24px;
    }
  }

  & .next {
    margin-left: 14px;

    @include tablet {
      margin-left: 24px;
    }
  }
}

.button {
  width: 38px;
  height: 38px;
  color: var(--pagination-color-dark);

  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;

  border: 1px solid;
  border-color: var(--pagination-color-dark);
  border-radius: 50%;

  &.disabled {
    fill: var(--light-text);
    background-color: var(--pagination-color-dark);
  }

  &.selected {
    color: var(--white);
    background-color: var(--pagination-color-dark);
  }

  @include tablet {
    width: 44px;
    height: 44px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;

  @include tablet {
    width: 24px;
    height: 24px;
  }
}

.page {
  margin: 0 4px;
  background-color: var(--background-main);

  @include tablet {
    margin: 0 5px;
  }

  &.tui-first-child {
    margin-left: 0;
  }

  &.tui-last-child {
    margin-right: 0;
  }
}

.button.arrow:not(.disabled) {
  background-color: var(--accent-color);
}
