.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--main-textcolor);
  background-color: var(--white);
  z-index: 10;

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo-text-svg {
    fill: var(--logo-main-color);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;

    & span {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: -0.56px;
    }
  }

  &__register-btn {
    display: none;
    @include tablet {
      display: flex;
      background-color: var(--main-color);
      gap: 90px;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      border: 1.5px solid var(--main-textcolor);
      border-radius: 18px;
    }
  }
}

.header__wrapper {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

input[type='checkbox'].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type='checkbox'].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type='checkbox'].toggle + label::before {
  content: '';
  width: 40px;
  height: 20px;
  background: linear-gradient(#4f2ee8, #dcdcdc);
  border-radius: 1em;
  transition: background-color 200ms ease-in-out;
}

input[type='checkbox'].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  left: 1px;
  width: 18px;
  height: 18px;
  background: linear-gradient(#ffffff, #f7f7f7, #dadada, #f0efef, #ffffff);
  color: white;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type='checkbox'].toggle:checked + label::before {
  background: linear-gradient(#4f2ee8, #686868);
}

input[type='checkbox'].toggle:checked + label::after {
  transform: translateX(115%);
}

input[type='checkbox'].toggle:disabled + label {
  color: #777;
}

input[type='checkbox'].toggle:disabled + label::before {
  background-color: #ccc;
}

input[type='checkbox'].toggle:disabled + label::after {
  background-color: #777;
}

// button burger-menu------------------//
.burger-btn {
  display: flex;
  align-items: center;
  padding: 0;

  border: none;
  background-color: transparent;

  fill: var(--main-textcolor);
  transition: fill 300ms;

  @include tablet {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--main-color);
  }

  & .is-open {
    display: none;
  }

  & .is-close {
    display: none;
  }
}
