.wrapper__sopping-list {
  background-color: var(--background-main);
}

.container__sopping-list {
  display: flex;
  gap: 40px;
}

.shopping-list {
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;

  width: 100%;
  min-height: calc(100vh - 70px);

  @include tablet {
    padding-bottom: 124px;
    min-height: calc(100vh - 95px);
  }
}

.shopping-list__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;

  color: var(--main-textcolor);

  & .shopping-list__title-second-word {
    color: var(--main-color);
  }

  @include tablet {
    font-size: 48px;

    font-weight: 700;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.support__sopping-list {
  display: none;
  margin: 40px 0 0;

  @include desktop {
    display: flex;
  }
}
